<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro"
name="tams_motorhand">
  <xacro:include filename="$(find tams_motorhand_description)/urdf/tams_motorhand.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />

  <!--
       In this robot description the shadow hand is not attached to a parent link.

       This description is isolated from the rest of the robot and used only by the shadow-modules.

       ros_control tries to load all joints/transmissions it can find in the robot_description,
       so we feed it only the shadow hand here.

       - v4hn@20200830
  -->

<!-- You are *forced* to specify the correct hand to avoid stupid mistakes -->
<!--  <xacro:arg name="type" default="invalid" /> -->

  <xacro:tams_motorhand prefix="$(arg prefix)" type="$(arg type)" />
</robot>
