<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tams_motorhand" >

  <!-- include macro definitions -->
  <xacro:include filename="$(find sr_description)/hand/xacro/hand.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro" />

  <xacro:macro name="tams_motorhand" params="prefix type">
    <xacro:if value="${type == 'right_biotac'}">
      <!-- shadow motorhand BioTac -->
       <xacro:sr_hand hand_type="hand_e" hand_version="E3M5" side="right" fingers="th ff mf rf lf" tip_sensors='th=bt_2p ff=bt_2p mf=bt_2p rf=bt_2p lf=bt_2p' prox_sensors="none" mid_sensors="none" palm_sensor="none" mounting_plate="false"  />
     <xacro:include filename="$(find tams_motorhand_description)/urdf/biotac.urdf.xacro" />
      <xacro:biotac prefix="${prefix}" />
    </xacro:if>

    <xacro:if value="${type == 'left_pst'}">
      <!-- shadow left motorhand PST sensing -->
       <xacro:sr_hand hand_type="hand_e" hand_version="E3M5" side="right" fingers="th ff mf rf lf" tip_sensors='th=bt_2p ff=bt_2p mf=bt_2p rf=bt_2p lf=bt_2p' prox_sensors="none" mid_sensors="none" palm_sensor="none" mounting_plate="false"  />
    </xacro:if>
  </xacro:macro>
</robot>
